:root {
    --light-color: #F9FAFC;
    --border-color: #e0e0e0;
    --color-1: #3498db;
    --bg-color: #fefaf1;
}

body {
    margin: 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.table {
    width: 100%;
    margin: 2rem 0;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.table tbody tr {
    background-color: var(--light-color);
    border-bottom: 1px solid var(--border-color);
}

.table tbody tr td {
    transition: all 0.5s ease-in;
}

.table td {
    vertical-align: top;
}

.table-bordered {
    border: 1px solid var(--border-color);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid var(--border-color);
}

.custom-input {
    border: 1px solid var(--color-1);
    border-radius: 0;
    padding: 0.5rem;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    width: 100%;
}

.custom-input:focus {
    border-color: var(--color-1);
    outline: none;
}

.custom-input::placeholder {
    color: var(--border-color);
    font-style: italic;
}

.view-mode {
    display: inline-block;
    width: 100%;
    transition: all 0.5s ease-in;
}

.edit-form {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    margin: 0;
    gap: 0.5rem;
}

.action-buttons {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
    font-style: italic;
}

@media (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        max-width: 350px;
        width: 100%;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: block;
        margin-bottom: 1rem;
        border: 0.05rem solid var(--border-color);
        padding: 1rem;
        border-radius: 0.3rem;
    }

    .table tbody td {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.75rem;
        text-align: left;
    }

    .table tbody td::before {
        content: attr(data-label);
        font-weight: 500;
        text-align: left;
        font-size: clamp(0.8rem, 2vw, 0.9rem);
        gap: 0.5rem;
        flex: 1;
        white-space: nowrap;
    }

    .table tbody td {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color);
    }

    .table tbody td .custom-input,
    .table tbody td .view-mode {
        flex: 2;
        text-align: left;
    }

    .table tbody td:last-child {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        flex-direction: column;
        align-items: stretch;
    }

    .action-buttons {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .edit-form {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
}